{% extends 'layout.html' %}
{% block content %}
<form action="/get-data" method="post">
  <div class="form-group">
    <label for="secret_key_input">Secret Key</label>
    <input id="secret_key_input" class="form-control" type="text" name="secret_key" autofocus>
  </div>
  <div class="form-group">
    <button class="btn btn-default" type="submit">Get Data</button>
  </div>
</form>

<p>
  You can also get your data using curl.
</p>

<p><code>curl '{{ config.APP_URL }}/get-data' --data 'secret_key=OV74XB3VXMtjLidpNVHrXzKyus8aHX61'</code></p>
{% endblock %}
