{% extends 'layout.html' %}
{% block content %}
{% set form_example %}<form action="{{ config.APP_URL }}/submit/OV74XB3VXMtjLidpNVHrXzKyus8aHX61" method="post">
  <input type="hidden" name="next" value="https://example.com/thankyou">
  <input type="text" name="name">
  <input type="email" name="email">
  <button type="submit">Submit</button>
</form>
{% endset %}

<h2>How to use this service.</h2>

<p>

  First you will need to get a key. You should use a different key for each
  form. The key has two parts: a secret key and a form key. The secret key
  should be kept secret. You will need the secret key to retrieve your submitted
  form data. Don't lose it. The form key is the public part. It goes in your
  HTML form.

</p>

<p>

  You can use any input names you want, except for <code>next</code> and
  <code>time</code>. They will be stored as a JSON object. Use a hidden input
  named <code>next</code> to redirect your users after submitting the form. The
  <code>time</code> field is added automatically, and stores the UTC time of the
  submission.

</p>

<p>
  Go <a href="/new-key">here</a> to get a new key.
</p>

<p>
  Go <a href="/get-data">here</a> to retrieve your submitted form data.
</p>

<h2>Example Form</h2>

<p>

  If your form key was <code>OV74XB3VXMtjLidpNVHrXzKyus8aHX61</code>, then your
  HTML form might look like this.

</p>

<pre><code>{{ form_example|e }}</code></pre>

<h2>Retrieving submitted data.</h2>

<p>

  Date can be retrieved by sending your <code>secret_key</code> in a
  <code>POST</code> request to <code>/get-data</code>. The request can be
  <code>application/x-www-form-urlencoded</code>,
  <code>multipart/form-data</code>, or <code>application/json</code>.

</p>

<p>
  This is an example response from <code>/get-data</code>.
</p>

<pre><code>{
  "records": [
    {
      "email": "alice@example.com",
      "name": "Alice",
      "time": "2016-06-05T21:03:29.659516"
    },
    {
      "email": "bob@example.com",
      "name": "Bob",
      "time": "2016-06-05T21:03:42.381883"
    }
  ]
}
</code></pre>

{% endblock %}
